.content-container {
position: relative;
.team-container {
  margin-left: auto;
  margin-right: auto;
  position: absolute;

    .team-member {
      text-align: center;
      padding:60px;
      margin: {
        left:auto;
        right:auto;
      }
      border-radius: 100%;
           h1 {
             margin: {
               left:auto;
               right:auto;
               text-align: center;
             }
           }
           img {
             height:200px;
             width:200px;
             border-radius: 100%;
            border:6px solid $orange;
           }
    }


}
.team-text-container {
  background-color: transparentize($orange, 0.2);
  height:250px;
  border-radius: 20px;
  position: relative;
  padding:20px;



      h3 {
        color:black;
        position: absolute;
        bottom: 15%;
      }

}
}
